* {
    border: none;
    font-family: "JetBrains Mono", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background: rgba(43, 48, 59, 0.9);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    border-radius: 10px; /* Скругляет всю панель */
    color: #ffffff;
    margin: 5px 10px;    /* Чтобы панель "парила", а не прилипала */
}

#window {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 2px solid #ffffff;
}

#language, #clock, #pulseaudio, #network, #cpu, #memory {
    padding: 0 10px;
}

#pulseaudio, #network {

}

#battery {
    background-color: #ffffff;
    color: #222222;
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B; /* Зеленый при зарядке */
    color: #ffffff;
}

#battery.warning:not(.charging) {
    background-color: #f1c40f; /* Желтый при 30% */
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c; /* Красный при 15% */
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Анимация мигания для критического уровня */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-power {
    background-color: #f53c3c;
    color: #ffffff;
    padding: 0 15px;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 5px; /* Скругление углов */
}

#custom-power:hover {
    background-color: #ff5c5c; /* Цвет при наведении */
}

#pulseaudio {
    color: #f5c2e7; /* Синий */
    background: rgba(30, 30, 46, 0.5); /* Полупрозрачный фон */
    border-radius: 10px;
    padding: 0 10px;
    margin: 4px;
}
#pulseaudio.muted {
    color: #f38ba8; /* Красный, если звук выключен */
}


#language {
    color: #f5c2e7; /* Розовый */
}

#tray {
    padding: 0 10px;
}
