window {
    margin: 5px;
    border: 2px solid #8839ef;
    background-color: rgba(30, 30, 46, 0.9); /* Полупрозрачный фон */
    border-radius: 15px; /* Скругление углов меню */
    font-family: "JetBrains Mono";
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 20px;
}

#selected {
    background-color: #8839ef;
    border-radius: 10px;
}
